{% extends 'base.html.twig' %}
{% block body %}
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    {{ grammar.name }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    {% for example in grammar.examples %}
                        <div class="post-preview">
                            <h2 class="post-title">
                                {{ example.phrase }}
                            </h2>
                            <h3 class="post-subtitle">
                                {{ example.translation }}
                            </h3>
                            <p class="post-meta">Posted by
                                <a href="#">Start Bootstrap</a>
                                on {{ example.createdAt|date('Y-m-d H:i:s') }}</p>
                        </div>
                        <hr>
                    {% endfor %}
                </div>
            </div>
        </div>
    </article>

    <hr>

    <fieldset>
        <legend>Ajouter un exemple</legend>
        {{ form(example_form) }}
    </fieldset>


{% endblock %}
